{% extends 'vocapp/main.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="hero-body">
    <div class="content">
        <form method="post">
            {% csrf_token %}
            <div class="notification is-third-color">
                <div class="field"><label for="" class="label" style="color: aliceblue;">Username</label></div>
                <div class="control">{% render_field form.username class+="input" %}</div>

                <div class="field"><label for="" class="label" style="color: aliceblue;">Password</label></div>
                <div class="control">{% render_field form.password class+="input" %}</div>

                <input class="button is-warning is-outlined my-4" type="submit" value="Log in">
            </div>
        </form>
        <p>Don't have an account? <a class="auth-link" href="{% url 'register' %}">Register Here</a></p>
    </div>
</div>


{% endblock content %}