{% extends 'vocapp/main.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'words' %}">&#8592; Back</a>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="content">
            <div class="field"><label for="" class="label" style="color: aliceblue;">Wordname</label></div>
            <div class="control">{% render_field form.wordname class+="input" %}</div>

            <div class="field"><label for="" class="label" style="color: aliceblue;">Synonyme</label></div>
            <div class="control">{% render_field form.synonyme class+="input" %}</div>
            <div class="field"><label for="" class="label" style="color: aliceblue;">Category</label></div>
            <div class="control">{% render_field form.category class+="input" %}</div>
            <div class="field"><label for="" class="label" style="color: aliceblue;">Sense</label></div>
            <div class="control">{% render_field form.sense  class+="textarea"%}</textarea>
            </div>
            <div class="control">
                Mastered
                <label class="radio">
                    {% render_field form.mastered %}
                </label>
            </div>
        </div>

        <input class="button is-success my-2" type="submit" value="Update">
    </form>
</div>

{% endblock content %}
